@include extjs-tab-panel-ui(
    $ui: 'ng-tab-panel-ui',
    $ui-tab-background-color-over: #ffd777,
    $ui-tab-background-color-active: #ffd777,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #f0f0f0,
    $ui-tab-color-over: #f0f0f0,
    $ui-tab-color-active: #4B4C4C,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 7px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 12px,
    $ui-tab-font-size-over: 12px,
    $ui-tab-font-size-active: 12px,
    $ui-tab-line-height: 15px,
    $ui-tab-icon-width: 8px,
    $ui-tab-icon-height: 8px,
    $ui-tab-icon-spacing: 15px,
    $ui-strip-height: 0
);